USE [produccion]
GO
/****** Object:  Table [dbo].[Componentes]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componentes](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha_baja] [date] NULL,
	[motivo_baja] [varchar](100) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_orden]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_orden](
	[id] [int] NOT NULL,
	[nro_orden] [int] NOT NULL,
	[componente] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Detalles_orden] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[nro_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes_produccion]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes_produccion](
	[nro_orden] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Ordenes_produccion] PRIMARY KEY CLUSTERED 
(
	[nro_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Componentes] ON 

INSERT [dbo].[Componentes] ([codigo], [nombre], [fecha_baja], [motivo_baja]) VALUES (1, N'Componente A', NULL, NULL)
INSERT [dbo].[Componentes] ([codigo], [nombre], [fecha_baja], [motivo_baja]) VALUES (2, N'Componente B', CAST(N'2024-10-03' AS Date), N'xxx')
INSERT [dbo].[Componentes] ([codigo], [nombre], [fecha_baja], [motivo_baja]) VALUES (3, N'Componente C', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Componentes] OFF
GO
INSERT [dbo].[Detalles_orden] ([id], [nro_orden], [componente], [cantidad]) VALUES (0, 5, 5, 10)
INSERT [dbo].[Detalles_orden] ([id], [nro_orden], [componente], [cantidad]) VALUES (1, 4, 1, 100)
INSERT [dbo].[Detalles_orden] ([id], [nro_orden], [componente], [cantidad]) VALUES (2, 4, 2, 100)
GO
SET IDENTITY_INSERT [dbo].[Ordenes_produccion] ON 

INSERT [dbo].[Ordenes_produccion] ([nro_orden], [fecha], [modelo], [estado], [cantidad]) VALUES (4, CAST(N'2024-09-13' AS Date), N'TEST', N'Cancelada', 50)
INSERT [dbo].[Ordenes_produccion] ([nro_orden], [fecha], [modelo], [estado], [cantidad]) VALUES (5, CAST(N'2024-10-04' AS Date), N'ACME', N'Creada', 10)
SET IDENTITY_INSERT [dbo].[Ordenes_produccion] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_COMPONENTE]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_COMPONENTE]
	@codigo int,
	@nombre varchar(50)
AS
BEGIN
	UPDATE Componentes SET nombre = @nombre	WHERE codigo = @codigo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCELAR_ORDEN]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CANCELAR_ORDEN] 
	@nro int
AS
BEGIN
	UPDATE Ordenes_produccion SET estado = 'Cancelada' WHERE
	nro_orden = @nro AND estado not in ('Cancelada', 'Finalizada')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_COMPONENTE_CODIGO]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CONSULTAR_COMPONENTE_CODIGO]
	@Codigo int
AS
BEGIN
	SELECT * FROM Componentes WHERE codigo = @Codigo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_COMPONENTES]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_COMPONENTES]
AS
BEGIN
	
	SELECT * from Componentes 
	WHERE fecha_baja is  null
	order by 2;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ORDENES]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CONSULTAR_ORDENES]
	@fecha datetime = null,
	@estado varchar(50) = null
AS
BEGIN
	SELECT * FROM Ordenes_produccion t
	WHERE (@fecha is null or t.fecha >= @fecha)
		AND (@estado is null or t.estado = @estado)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_COMPONENTE]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERTAR_COMPONENTE]
	@nombre varchar(50)
AS
BEGIN
	INSERT INTO Componentes (nombre) VALUES (@nombre)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE] 
	@nro_orden int,
	@id int, 
	@componente int, 
	@cantidad int
AS
BEGIN
	INSERT INTO Detalles_orden(nro_orden,id, componente, cantidad)
    VALUES (@nro_orden, @id, @componente, @cantidad);
  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MAESTRO]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_MAESTRO] 
	@fecha date, 
	@modelo varchar(50),
	@estado varchar(50),	
	@cantidad int,
	@nro_orden int OUTPUT
AS
BEGIN
	INSERT INTO Ordenes_produccion(fecha, modelo, cantidad, estado)
    VALUES (@fecha, @modelo, @cantidad, 'Creada');
    SET @nro_orden = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_BAJA_COMPONENTE]    Script Date: 03-10-2024 22:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRAR_BAJA_COMPONENTE]
	@codigo int,
	@motivo varchar(100)
AS
BEGIN
	UPDATE Componentes SET fecha_baja = GETDATE(), motivo_baja = @motivo WHERE codigo = @codigo;
END
GO
